<!DOCTYPE html>
<html>
<head>
	<title>表单页面</title>
</head>
<body>
	<center>
<form action="__URL__/add" enctype="multipart/form-data" method="post">
	<table>
		<h1>表单页面</h1>
		<tr>
			<td>商品名称</td>
			<td><input type="text" name="user"></td>
		</tr>
		<tr>
			<td>商品图片</td>
			<td><input type="file" name="img"></td>
		</tr>
		<tr>
			<td>商品描述</td>
			<td><textarea cols="22" rols="10" name="text"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="点击提交"></td>
		</tr>
	</table>
</form>
</center>
</body> 
</html>